<h1>View a wishlist</h1>

<table>
<% @people.each do |person| %>
  <tr>
    <td><%= link_to(person.name, {:action => 'show', :id => person.id }, :class =>'action show') %></td>
  </tr>
  <% end %>
</table>
<br>
 <%= link_to("Add to wishlist", {:controller => 'gift', :action => 'new'}, :class => 'pull-right') %>
